.admin-container {
    overflow-y: hidden;
}

.admin {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.admin-sidebar {
    background-color: #ff96d6;
    width: 80px;
    flex-shrink: 0;
}

.admin-sidebar-link {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
}

.admin-sidebar-link:hover {
    cursor: pointer;
    background-color: #ff81cf;
}

.admin-main {
    overflow-y: scroll;
    flex: 1;
}
