.meetTheTeam {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.cards {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
    gap: 3rem;
}
