.meetTheTeam {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.cards {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    align-content: center;
    gap: 3rem;
}
